{% extends "base.html" %}
{% block title %}Sign Up {% endblock %}
{% block head %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
{% endblock %}
{% block content %}
    <form method="POST">        
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign Up">
    </form>
    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
    </script>
{% endblock %}